.home-content{
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}
div#container{
    margin: 0 auto;
    height: 400px;
    max-height: 600px;
    min-width: 400px;
    max-width: 800px;
}
